passcode-entry {
  display: block;
  div.passcode-digits {
    width: 192px;
    margin: 16px auto;
    ul {
      display: flex;
      margin: 0;
      padding: 0;
      list-style: none;
      transition: 1s;
      li {
        flex: 1;
        align-items: center;
        div {
          width: 16px;
          height: 16px;
          margin: 0 auto;
          border: 1px solid #fff;
          border-radius: 50%;
          background: rgba(#fff, 0);
          transition: 1.25s;
        }
        &.set div {
          background: rgba(#fff, 1);
        }
      }
    }
  }
  >div.incorrect div.passcode-digits ul {
    animation: passcode-digits-incorrect ease-in-out 0.75s;
  }
  /* Animation when the passcode is entered incorrectly */
  @keyframes passcode-digits-incorrect {
    0% {
      transform: translate(0, 0);
    }
    10% {
      transform: translate(20px, 0);
    }
    20% {
      transform: translate(-20px, 0);
    }
    30% {
      transform: translate(15px, 0);
    }
    40% {
      transform: translate(-15px, 0);
    }
    50% {
      transform: translate(10px, 0);
    }
    60% {
      transform: translate(-10px, 0);
    }
    70% {
      transform: translate(5px, 0);
    }
    80% {
      transform: translate(-5px, 0);
    }
    90% {
      transform: translate(5px, 0);
    }
    100% {
      transform: translate(0, 0);
    }
  }
}
